<%= simple_form_for(@budget) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <br></br>
    <%= f.input :type_event, label: 'Type of the event: (ex.: Marriage, Anniversary)' %>
    <%= f.input :place , label: 'Place of the event' %>
    <b>Choose the date of the event</b><br>
    <%= f.date_select :date,{:order => [:day, :month, :year], :start_year => 2015, :end_year => 2020}%>
    <br></br>
    <%= f.input :service , label: 'What services do you want? (Photography / Cinegraphy / Both)'%>
    <%= f.input :stay_contact, label: 'Would you want to stay in contact with the company? (Yes or No)'%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
