<div class="page-header">
  <h1>Edit your Budget</h1>
</div>

<%= render 'form' %>

<br>

<%= link_to t('.edit', :default => t("helpers.links.Show")),
                @budget, :class => 'btn btn-default' %>

<%= link_to t('.edit', :default => t("helpers.links.Back")),
                budgets_path, :class => 'btn btn-default' %>

<!--
<%= link_to 'Show', @budget %> |
<%= link_to 'Back', budgets_path %>
-->