<%- model_class = Post -%>
<div class="page-header">
  <h1>Budgets</h1>
</div>

<% if user_signed_in? %>
  <% if current_user.username != "admin" %>
    <p align="center"><%= link_to t('.new', :default => t("helpers.links.New Budget")),
                new_budget_path,
                :class => 'btn btn-primary' %></p>
  <% else %>
    <p align="center"><%= link_to t('.new', :default => t("helpers.links.New Budget")),
                new_budget_path,
                :class => 'btn btn-primary' %></p>
  <% end %>
<% end %>


<table class="table table-striped">
  <thead>
  <tr>
    <% if !user_signed_in? %>
      <center><h1> :-( </h1>
      <h3> You have no budgets registered right now</h3></center>            
    <% else %>  
      <% if current_user.username == "admin" %>
        <% if !@budgets.blank? %>
          <th><%= model_class.human_attribute_name(:Type) %></th>
          <th><%= model_class.human_attribute_name(:Place) %></th>
          <th><%= model_class.human_attribute_name(:Date_event) %></th>
          <th><%= model_class.human_attribute_name(:Created_at) %></th>
          <th><%= model_class.human_attribute_name(:Service) %></th>
          <th><%= model_class.human_attribute_name(:Stay_in_contact_?) %></th>        
        <% else %>
          <center><h1> :-( </h1>
          <h3> You have no budgets registered right now</h3></center>
        <% end %>
      <% end %>
    <% end %>    
    </tr>
  </thead>
  <tbody>
    <% if !@budgets.blank? %>
      <% if user_signed_in? %>
        <% if current_user.username == "admin" %>    
          <% if @budgets.blank?%>
            <center><h1> :-( </h1>
            <h3> You have no budgets registered right now</h3></center>
          <% else %>
              <% @budgets.each do |budget| %>
              <tr>
                  <td><%= link_to budget.type_event, budget_path(budget) %></td>
                  
                  <td><%= budget.place %></td>
                  
                  <td><%= budget.date.strftime("%m/%d/%Y - %I:%M%P") %></td>  

                  <td><%= budget.created_at.strftime("%m/%d/%Y - %I:%M%P") %></td>                     

                  <td><%= budget.service %></td>

                  <td><%= budget.stay_contact %></td>      
              </tr>
            <% end %>
          <% end %>
      <% end %>
    <% else %>
      <center><h1> :-( </h1>
      <h3> You have no budgets registered right now</h3></center>            
    <% end %>
  <% end %>  
  </tbody>
</table>
