<div class="page-header">
  <h1>New Budget</h1>
</div>

<%= render 'form' %>

<br></br>

<%= link_to t('.edit', :default => t("helpers.links.Back")),
                budgets_path, :class => 'btn btn-default' %>