<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
    	<%= image_tag("logo_preen.png")%>
    </div>
    <div class="item">
    	<%= image_tag("slide_1.png")%>
      <div class="carousel-caption">
        <p><b>Cenários Impressionantes...</b></p>
      </div>
    </div>
    <div class="item">
    	<%= image_tag("slide_2.png")%>
      <div class="carousel-caption">
        <p><b>...Belas Histórias...</b></p>
      </div>
    </div>
    <div class="item">
    	<%= image_tag("slide_3.png")%>
      <div class="carousel-caption">
        <p><b>...Lindas Imagens</b></p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="sr-only">Next</span>
  </a>
</div>

<div>
	<p class="text"><h5><br><br>The life is marked by moments. However, if we don't take care of small souvenirs, definitely, this can simply get lost int time and memory.To relive those emotions a quality of image, an enchantment of details and a good sense becomes indispensable. And is in this rescue of stories that the VJ Foto Video Company search to provide the best service of photo an film.</h5></p>
</div>

<center>
<div class="row border">
	<%= image_tag("photo.png")%> <b>Photo</b>
    
<div class="row">
	<%= image_tag("video.png")%> <b>Video</b>
</div>
</center>
