

<h4>The <strong>VJ Photo Video Company</strong> is speciallized mainly at weddings, but that doesn't mean that we fail to provide quality service in other types of events. <br><br></h4> 
	
<div align="center" class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
    <%= image_tag("wedding.png")%> 
      <div class="caption">
        <h3>Wedding</h3>
      </div>
    </div>
  </div>
 </div>

<div align="center" class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <%= image_tag("graduation.png")%>
      <div class="caption">
        <h3>Graduation</h3>
      </div>
    </div>
  </div>
</div>

<div align="center" class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <%= image_tag("party.png")%>
      <div class="caption">
        <h3>Children's party</h3>
      </div>
    </div>
  </div>
</div>

<div align="center" class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
     <%= image_tag("fifteen.png")%>
      <div class="caption">
        <h3>Sweet Fifteen Party</h3>
      </div>
    </div>
  </div>
</div>

 

