<%- model_class = Post -%>
<div class="page-header">
	<h1>Discussions</h1>
</div>


<p align="right"><%= link_to t('.new', :default => t("helpers.links.New Topic")),
            new_post_path,
            :class => 'btn btn-primary' %></p>


<table class="table table-striped">
  <thead>
  <tr>
    <% if !@posts.blank? %>
      <th><%= model_class.human_attribute_name(:Title) %></th>
      <th><%= model_class.human_attribute_name(:Description) %></th>
      <th><%= model_class.human_attribute_name(:Date) %></th>
      <th><%= model_class.human_attribute_name(:Owner) %></th>
      
      <% @posts.each do |post| %>
        <% if user_signed_in? %>
            <% if current_user.username == post.user.username %>
              <th><%=t '.actions', :default => t("helpers.Manage") %></th>              
            <% end %>
        <% end %>
      <% end %>
    
    <% else %>
      <center><h1> :-( </h1>
      <h3> There are no discussions going on right now</h3></center>
    <% end %>

    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
     	<tr>
     	 	  <td><%= link_to post.title, post_path(post) %></td>
          
          <td><%= post.description %></td>
   	      
          <td><%= post.created_at.strftime("%m/%d/%Y - %I:%M%P") %></td>      

          <td><%= post.user.username %></td>

       	  <% if user_signed_in? %> 
            <% if current_user.username == post.user.username || current_user.username == "admin"%>  
              <td>
           	    <%= link_to t('.edit', :default => t("helpers.links.edit")),
             	              edit_post_path(post), :class => 'btn btn-default btn-xs' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                 	          post_path(post),
                   	        :method => :delete,
                      	      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        	    :class => 'btn btn-xs btn-danger' %>
              </td>
            <% end %>
          <% end %>
        
 	    </tr>
  	<% end %>
  </tbody>
</table>
