<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "VJ Foto Video" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Services", "/pages/product"  %></li>
            <li><%= link_to "Contact", "/pages/contact"  %></li>

            <% if user_signed_in? %>
              <li><%= link_to "Your Profile", "/users/profile"  %></li>              

              <% if current_user.email == "admin@admin.org" %>
                <li><%= link_to "Show All Users", "/users/show"  %></li>              
              <% end %>
            <% end %>



          </ul>
            <br><p align="right"><% if user_signed_in? %>
              Signed in as <b><%= current_user.username %></b>. Not you?
              <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
            <% else  %>
              <%= link_to 'Sign up', new_user_registration_path  %> or <%= link_to 'Sign in', new_user_session_path  %>
            <% end  %>
            </p>
        </div>
      </div>
    </div>

   <div class="container">
      <div class="row">
	<div class="col-lg-9">
	  <%= bootstrap_flash %>
	  <%= yield %>
	</div>
	<div class="col-lg-3">
	  <div class="well sidebar-nav">
	    <h3><strong>Menu</strong></h3>
	    <ul class="nav nav-list">
	      <li><%= link_to "Discussions", "/posts" %></li>
                <% if user_signed_in? %>       
                  <li><%= link_to "Budget", budgets_path  %></li>
                <% end %>            
              <li><%= link_to "Calendar", "/pages/calendar"  %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <p align="bottom">
      <footer>
        <p>&copy; Mateus Manuel & Vitor Barbosa</p>
      </footer>
    </p>

    </div> <!-- /container -->

  </body>
</html>
